name: publish_workflow

on:
  push:
    branches:
      - main

jobs:
  call-build:
    uses: ./.github/workflows/build.yml
  call-publish:
    needs: call-build
    uses: ./.github/workflows/publish.yml
    secrets: inherit
  call-publish-open-vsx:
    needs: call-build
    uses: ./.github/workflows/publish-open-vsx.yml
    secrets: inherit